{% extends "layout.html" %} {% block content %}
<div class="container-fluid">
    <form role="form" method='POST' action="{{ url_for('anno') }}">
        <div class="form-group">
            <textarea id="fasta" name="fasta"
                placeholder="Enter protein sequence(s) in fasta format..."
                rows="20" class="form-control"></textarea>
        </div>
        <div class="row">
            <div class="col-xs-6 text-left">
                <input class="btn btn-default btn-block" type="button" value="Example sequences"
                    onclick="load_examples()" />
            </div>
            <div class="col-xs-6 text-right">
                <button class="btn btn-default btn-block" type="submit">Scan</button>
            </div>
        </div>
    </form>
    <br>
</div>
<script>
    function load_examples() {
        $("#fasta").load("https://raw.githubusercontent.com/MolGen/pprscan/master/datasets/example_sequences.fa");
    }
</script>
{% endblock %}
