{% extends "layout.html" %} {% block content %}

<div class="row">
    <div class="col-xs-6 text-left">
        <img src="{{ url_for('static', filename='Logo/Ath447_P.png') }}" alt="Ath447_P" style="width:100%" o>
        <img src="{{ url_for('static', filename='Logo/Ath447_P1.png') }}" alt="Ath447_P1" style="width:100%" o>
        <img src="{{ url_for('static', filename='Logo/Ath447_P2.png') }}" alt="Ath447_P2" style="width:100%" o>
        <img src="{{ url_for('static', filename='Logo/Ath447_L1.png') }}" alt="Ath447_L1" style="width:100%" o>
        <img src="{{ url_for('static', filename='Logo/Ath447_L2.png') }}" alt="Ath447_L2" style="width:100%" o>
        <img src="{{ url_for('static', filename='Logo/Ath447_S1.png') }}" alt="Ath447_S1" style="width:100%" o>
        <img src="{{ url_for('static', filename='Logo/Ath447_S2.png') }}" alt="Ath447_S2" style="width:100%" o>
        <img src="{{ url_for('static', filename='Logo/Ath447_SS.png') }}" alt="Ath447_SS" style="width:100%" o>
        <img src="{{ url_for('static', filename='Logo/Ath447_TPR.png') }}" alt="Ath447_TPR" style="width:100%" o>
        <img src="{{ url_for('static', filename='Logo/Ath447_E1.png') }}" alt="Ath447_E1" style="width:100%" o>
        <img src="{{ url_for('static', filename='Logo/Ath447_E2.png') }}" alt="Ath447_E2" style="width:100%" o>
    </div>
    <div class="col-xs-6 text-right">
        <img src="{{ url_for('static', filename='Logo/P.png') }}" alt="P" style="width:100%" o>
        <img src="{{ url_for('static', filename='Logo/P1.png') }}" alt="P1" style="width:100%" o>
        <img src="{{ url_for('static', filename='Logo/P2.png') }}" alt="P2" style="width:100%" o>
        <img src="{{ url_for('static', filename='Logo/L1.png') }}" alt="L1" style="width:100%" o>
        <img src="{{ url_for('static', filename='Logo/L2.png') }}" alt="L2" style="width:100%" o>
        <img src="{{ url_for('static', filename='Logo/S1.png') }}" alt="S1" style="width:100%" o>
        <img src="{{ url_for('static', filename='Logo/S2.png') }}" alt="S2" style="width:100%" o>
        <img src="{{ url_for('static', filename='Logo/SS.png') }}" alt="SS" style="width:100%" o>
        <img src="{{ url_for('static', filename='Logo/TPR.png') }}" alt="TPR" style="width:100%" o>
        <img src="{{ url_for('static', filename='Logo/E1.png') }}" alt="E1" style="width:100%" o>
        <img src="{{ url_for('static', filename='Logo/E2.png') }}" alt="E2" style="width:100%" o>
    </div>
</div>
{% endblock %}